.jumbotron{
    background-image: url("https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/3fe49ceb-276b-483c-a9c6-83324352a4c3/002-izhik-camping-time-large-opt.png");
}
.navbar{
    background-color: #000080;
}
h5{
    color: white;
}
footer{
    background-color:#000080;
}