body {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-weight: 700; }

footer {
  background-color: black;
  padding: 20px 0px; 
  color: white;
}

.jumbotron{
  margin:0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: black; }


.tab-content {
  border: none;
  padding: 10px; }

  h5{
    font-weight: 600;
  }
  .head{
    font-weight: 400;
  }

  .module {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.1)
      ),
      url(https://static.dribbble.com/users/1731254/screenshots/8517286/media/f36580c263f4b65067011b58b64ab4bf.png);
    background-size: cover;
    position: relative;
  }

  .mid h2 {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }